!!!
%html
  %head
    %title Video encoding using Heywtach
    %link{:rel => "stylesheet", :href => "/stylesheets/master.css", :type => "text/css", :media => "screen", :charset => "utf-8"}
  %body
    #container
      .spacer
      = link_to "Home", resource(:videos)
      = catch_content :for_layout
